<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paging.config.mapper.pagingMapper">

	<!-- 총항목 수를 조회하는 메소드 -->
	<select id="selectItemCount" resultType="_int">
		select count(*) from item_tb
	</select>
	
	<!-- 특정 페이지의 항목들을 조회하는 메소드 -->
	<select id="selectItemList" parameterType="map" resultType="item">
		<![CDATA[
		select rn, num, item	
			from (
				select rownum rn, num, item		
				from (
					select num, item from item_tb order by num desc
				)
			where rownum <= #{end}
			)
		where rn >= #{begin}
		]]>
	</select>
</mapper>